body {
	 background: radial-gradient(#353c44, #222931);
	}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.heading {
  font-size: 40px;
}

#title {
	color: rgba(240, 255, 0, 1);
}


#ex {
	color: rgba(240, 255, 0, 1);
	position: absolute;
	left:70%;
	top:.2%;
}

#O {
	color: rgba(249, 105, 14, 1);
	animation-name: oa; 
	animation-duration: 2s;
  animation-delay: 2s;
  animation-iteration-count: 1;
}

#title,#O{
			text-shadow:3.6px 3.6px rgba(103, 65, 114, 1);
}
@keyframes oa{
	100% {color: rgba(240, 255, 0, 1);}
}

#welcome{
	color:rgba(240, 255, 0, 1);
	font-size: 22px;
	font-family: Comic Sans MS, Comic Sans, cursive;
  width: 100%;

}
#accept {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color:rgba(241, 90, 34, 1);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

#accept:hover {background-color: rgba(25, 181, 254, 1)}

#accept:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#next{
	font-family: Comic Sans MS, Comic Sans, cursive;
}
#fullname{
	border-color: rgba(240, 255, 0, 1);
	max-width: 90%;
	font-size: 22px;
	font-family: Comic Sans MS, Comic Sans, cursive;

}
#troll{
	padding: 10px;
	color:rgba(240, 255, 0, 1);
	font-size: 22px;
	font-family: Comic Sans MS, Comic Sans, cursive;
  text-align: left;	
}
#troll1, #head{
	
	color:rgba(240, 255, 0, 1);
	font-size: 25px;
	font-family: Comic Sans MS, Comic Sans, cursive;	
}	


#hellyeah {
	position: relative;
  display: block;
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color:rgba(241, 90, 34, 1);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

#hellyeah:hover {background-color: rgba(25, 181, 254, 1)}

#hellyeah:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#hell{
	font-family: Comic Sans MS, Comic Sans, cursive;
}
#questionplate{
	height:240px;
	width:680px;
	position:absolute;
	top:50%;
	left:50%;
	transform: translateX(-50%) translateY(-50%);
	background:rgba(52, 73, 94, 1);
	padding: 20px;
	border: 1px solid rgba(25, 181, 254, 1);
	box-shadow: 0 0 8px 3px #fff;
	border-radius: 15px;
	animation-name: glow;
	animation-delay: .1s;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}
#question{
	padding: 18px;
	color:rgba(240, 255, 0, 1);
	font-size: 20px;
	font-family: Comic Sans MS, Comic Sans, cursive;
	margin: 8px 0 8px 0;
	border-radius: 20px;
}
#options{
	width: 300px;
	display: inline-block;
	padding: 10px 0 10px 15px;
	vertical-align: middle;
	background: rgba(44, 62, 80, 1);
	margin: 10px  0 10px 10px;
	color: #fff;
	border-radius: 20px;
	color:rgba(240, 255, 0, 1);
	font-size: 25px;
	font-family: Comic Sans MS, Comic Sans, cursive;
}
#options:hover{
	background:rgba(1, 50, 67, 1);
	box-shadow: 0 0 8px 3px #fff;
	color: rgba(107, 185, 240, 1);
	animation-name: glow;
	animation-delay: .1s;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}
input:checked {
  height: 30px;
  width: 30px;
  font-size: 30px;
  background: rgba(240, 255, 0, 1);
  }
 #nextButton{
	position: relative;
	left:90%;
	top:100%;
	height: 30px;
	width: 90px;
  
  font-size: 17px;
  
  color:rgba(36, 37, 42, 1);
	
	font-family: Comic Sans MS, Comic Sans, cursive;
  outline: none;
  background-color:rgba(241, 90, 34, 0.8);
  border: none;
  border-radius: 15px;
  box-shadow: 0 4px #999;
}

#nextButton:hover {background-color: rgba(25, 181, 254, 1)}

#nextButton:active {
  background-color: rgba(240, 255, 0, 1);
  box-shadow: 0 5px #666;
  transform:translateY(4px);
}
@keyframes glow{
	 0%{box-shadow: 0px 0px 20px 7px #87CEFA;}
	50%{box-shadow:0px 0px 30px 12px #87CEFA;}
	100%{box-shadow: 0px 0px 20px 7px #87CEFA;}
}
#youlost{
	color: rgba(240, 255, 0, 1);
	font-size: 60px;
	transform: scale(1.3,2);

}
#lose{
	color:rgba(240, 255, 0, 1);
	font-size: 22px;
	font-family: Comic Sans MS, Comic Sans, cursive;
}
#restart {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color:rgba(241, 90, 34, 1);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

#restart:hover {background-color: rgba(25, 181, 254, 1)}

#restart:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#youwin{
	color: rgba(240, 255, 0, 1);
	font-size: 60px;
	transform: scale(1.3,2);

}
#win{
	color:rgba(240, 255, 0, 1);
	font-size: 20px;
	font-family: Comic Sans MS, Comic Sans, cursive;
}
#credit{
	color:#EAF0F1;
	font-size: 15px;
	height: 50px;
	font-family: Comic Sans MS, Comic Sans, cursive;
	background:#2C3335;

}

/* Desktop Styles */
@media screen and (min-width: 768px) {

  .heading {
    font-size: 90px;
    transform: scale(1.3,2);
  }

  #hellyeah {
    margin-left: auto;
  }

  #troll4 {
    text-align: center;
  }
  
}

